<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Chef List</title>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/add}" th:object="${add}" method="post">

  
<!--  <div class="form-group"> -->
   <p> <input type="text" th:field="*{fullname}" placeholder="Chef name"></input></p>
   <!--   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span> -->
 <!--  </div>  -->
 
 <!--   <div class="form-group"> -->
  <p>  <input type="text" th:field="*{dish}" placeholder="dish"></input></p>
    <!--  <span th:if="${#fields.hasErrors('food')}" th:errors="*{food}">Food Error</span>-->
 <!--  </div>  -->
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</body>
</html>