<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Result</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
	<!--	<p th:text="'id: '+${Chef.id}"/>-->
		<div th:each="eachchef:${chefList}">
		<p th:text="'id: '+${eachchef.id}"/>
		<p th:text="'fullname: '+${eachchef.fullname}"/>
		<p th:text="'dish: '+${eachchef.dish}"/>
		</div>
	<form action="#" th:action="@{/delete}" th:object="${chef}" method="post">
   <p> <input type="text" th:field="*{id}" placeholder="id"></input></p>
   <button type="submit" class="btn btn-default">Submit</button>
  </form>
		
	</body>
</html>